@tailwind base;
@tailwind components;
@tailwind utilities;

@layer utilities {
  .overlay {
    height: 282px;
    width: 282px;
    position: absolute;
    transition: all 0.3s ease;
  }

  .overlayFace {
    height: 282px;
    width: 282px;
    top: 0;
    left: 75px;
  }
}